# Database
db.sqlite3

# Environment variables
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
django_venv/
venv/
env/

# VS Code
.vscode/

# ngrok
*.log

# Environment variables
.env
*.env